.hospitalData {
  display: flex;
  margin: 2rem;
}

.HospitalBorderLeft {
  margin-right: 5rem;
  border-right: 2px solid #afafaf;
  padding: 1.2rem;
}

.hospitalRoom {
  margin-right: 5rem;
  padding: 1rem;
}

.hospitalInfo h3 {
  color: #48AF78;
  font-size: 1.83731rem;
  font-family: Lato;
  font-weight: 700;
  letter-spacing: -0.02756rem;
}

.hospitalInfo p {
  color: #959595;
  font-size: 1.03631rem;
  font-family: Lato;
  font-weight: 500;
  letter-spacing: -0.00519rem;
}

.hospitalInfo span {
  color: #48AF78;
}
